@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
*{
    font-family: 'Oxygen', sans-serif;
    place-items: center;
}
.numkey{
    align-items: center;
    border: none;
    border-radius: 360px;
    width: 60px;
    height: 60px;
    background-color: gray;
    font-size: 30px;
    color: white;
}
.signkey{
    align-items: center;
    border: none;
    border-radius: 360px;
    width: 60px;
    height: 60px;
    background-color: rgb(7, 86, 177);
    font-size: 30px;
    color: rgb(225, 225, 225);
}
.phone-screen{
    border: white;
    border-radius: 64px;
}
input{
    border: none;
    background-color:rgb(31, 31, 31);
    color: white;
}